<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Quanto será que o governo gasta em papel?</h2>
    <p class="lead">A <span>Feira Livre</span> é um site que disponibiliza para o contribuinte informações simplificadas sobre os gastos de produtos comuns usados no dia-a-dia.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Ó Meu Deus!!!! Tudo isso por um café?</h2>
    <p class="lead">Veja o custo pago de produtos comuns em licitações; e se fora do padrão denúncie ao TCU. </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Tenho uma ideia de como aplicar esses dados.</h2>
    <p class="lead">Utilize nossa API rápida, fácil e padronizada para criar aplicativos webs ou mobiles para combater a corrupção.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
