
{% load static %}
{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Feira Livre</title>
    {% block scripts %}
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    {% block extra_styles %}
    {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>

    <div class="navbar-wrapper">
      <div class="container">
        {% block container %}
          {% block navbar %}
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="/" style="color:yellow; font-weight: bold;">FEIRA LIVRE</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="produtos_grid.html" style="font-weight: bold;">Produtos</a></li>
                  <li><a href="{% url 'licitacao:listagem' %}" style="font-weight: bold;">Licitações</a></li>
                  <li><a href="documentacao.html" style="font-weight: bold;">Documentação</a></li>
                  <li><a href="sobre.html" style="font-weight: bold;">Sobre</a></li>
                  <li><a href="https://contas.tcu.gov.br/pls/apex/f?p=sisouv_web:13"
                         style="color: red;">Comunicar Irregularidade</a></li>
                </ul>
                </div>
              </div>
            </div>
          </nav>
          {% endblock %}
        {% endblock %}
      </div>
    </div>
      {% block carousel %}{% endblock %}
      {% block container_extra %}
        {% include "licitacao/_container_extra.html" %}
      {% endblock %}
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script>window.jQuery || document.write('<script src={% static "jquery/dist/jquery.js" %}"><\/script>')</script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
     <script src="{% static "holderjs/holder.min.js" %}"></script>
 </body>
</html>
