{% extends "licitacao/base.html" %}

{% block container %}
{{ block.super }}

<div class="container">
  <h1>
    Produto
  </h1>
  <h3>
    PREGÃO {{ object.id }}
  </h3>

  <div class="row">
    <div class="col-lg-6">

    <table class="table">

      <tbody>
        <tr class="success">
          <td>Preço do Produto</td>
          <td>{{ object.valor_item }}</td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>Preço Médio Máximo</td>
          <td>{{ item.quartil3 }}</td>
          <td></td>
        </tr>
        <tr class="info">
          <td>Preço Médio Minimo</td>
          <td>{{ item.quartil1 }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Tipo de Item</td>
          <td>{{ item.item }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Nome</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Preço Mediano</td>
          <td>{{ item.iqr }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p><a class="btn btn-lg btn-danger" href="https://contas.tcu.gov.br/pls/apex/f?p=sisouv_web:13" role="button">Relatar Irregularidade</a>
    <a class="btn btn-lg btn-primary" href="{% url 'licitacao:listagem' %}" role="button">Voltar</a></p>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">


    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->


{% endblock %}
