{% extends "licitacao/base.html" %}

{% block container %}
{{ block.super }}
    
    <div class="container">
		
	<div class="jumbotron">
		<h1>
			Documentação - Em construção :)
		</h1>
    </div>
	
	<!-- ================================================== -->
	<p>Documentação da API do Feira Livre em JSON.</p>
    <h2>Licitações</h2>
    <hr>
	<p>Retorna as Listas de Licitações Realizadas pelo governo Federal</p>
	<h3>Busca por Identificador</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/</p>
	<h3>Busca por Ano</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/ </p>
	
	<br>
	<h2>Itens Licitação</h2>
    <hr>
	<p>Retorna Listas de Itens de Licitações Realizadas pelo governo Federal</p>
	<h3>Busca por Identificador da Licitação</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/</p>
	<h3>Buscar por Situação</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/</p>
	<h3>Buscar por Descrição</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/</p>
	
	<br>
	<h2>Tipos Itens</h2>
    <hr>
	<p>Retorna Análise por Itens do governo Federal</p>
	<h3>Busca por Tipo</h3>
	<p>https://feira-livre.herokuapp.com/</p>
	<p>Ex: https://feira-livre.herokuapp.com/</p>

    </div><!-- /.container -->

{% endblock %}