{% extends "licitacao/base.html" %}

{% block container %}
{{ block.super }}

<div class="container">

    <h1>Itens</h1>
    <hr>
    <form action="{% url 'licitacao:busca_item' %}" method="get"
          class="form-inline">
      <div class="form-group col-lg-8">
        <input type="text" name='q' class="form-control" placeholder="Search for...">
        <div class="input-group col-lg-4">
            <select class="form-control">
              <option value="1">Identificador</option>
              <option value="2">Ano</option>
              <option value="3">Situação</option>
            </select>
        </div>
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </div>
    </form>
	<table class="table">
    <thead>
      <tr>
        <th>Licitação</th>
        <th>Produto</th>
        <th>Valor</th>
        <th>Situação</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for item in listagem %}
        {% if item.situacao == "ALTO" or item.situacao == "MUITO ALTO" %}
        <tr class="danger">
        {% else %}
        <tr>
        {% endif %}
          <td>{{item.identificador}}</td>
          <td>{{item.descricao_item}}</td>
          <td>R$ {{item.valor_item}}</td>
          <td>{{item.situacao}}</td>
          <td><a href="{% url 'licitacao:detalhe_produto' item.pk %}"
                 class="btn btn-default"> <i class="glyphicon glyphicon-info-sign"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
